.dropdown{
    width: 200px;
    height: 50px;
    position: relative;
    background-color: var(--background-elements);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: var(--text);
}

.dropdown .dropdownBtn{
    height: 50px;
    padding: 0px 15px 0 15px;
    background: var(--background-elements);
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    border-radius: 5px;
    color: var(--text);
    font-weight: 700;
}

.dropdown .dropdownContent{
    position: absolute;
    top: 110%;
    left: 0;
    padding: 10px;
    background: var(--background-elements);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: var(--text);
    width: 90%;
    cursor: pointer;
}

.dropdown .dropdownContent .dropdownItem{
    padding: 10px;
    border-radius: 5px;
    color: var(--text);
}

.dropdown .dropdownContent .dropdownItem:hover{
    background: var(--dropdown-hover)
}

@media (max-width: 500px) {
    .dropdown .dropdownBtn{
        font-size: 14px;
    }
}




