.container{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-elements);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content{
    width: 1400px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content h1{
    color: var(--text);
    font-size: 30px;
}

.content .darkMode{
    height: 25px;
    width: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.content .darkMode:hover{
    cursor: pointer;
}

.content .darkMode .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
}

.content .darkMode p{
    font-weight: 600;
    color: var(--text);
}

@media (max-width: 1600px) {
    .content{
        width: 1000px;
    }
}

@media (max-width: 1200px) {
    .content{
        width: 700px;
    }
}

@media (max-width: 800px) {
    .content{
        width: 400px;
    }

    .content h1{
        font-size: 26px;
    }
}

@media (max-width: 500px) {
    .content{
        width: 300px;
    }

    .content h1{
        font-size: 20px;
    }
}