/* Font: Nunito Sans */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
  margin: 0;
  transition: all 0.2s ease-in-out;
}

:root{
  --text: hsl(200, 15%, 8%);
  --dark-grey: hsl(0, 0%, 52%);
  --background: hsl(0, 0%, 98%);
  --background-elements: hsl(0, 0%, 100%);
  --dropdown-hover: #f4f4f4;
  font-family: "Nunito Sans", sans-serif;
}

[data-theme="dark"]{
  --text: hsl(0, 0%, 100%);
  --background: hsl(207, 26%, 17%);
  --background-elements: hsl(209, 23%, 22%);
  --dropdown-hover: hsl(209, 23%, 28%);
}


